# Database
DATABASE_URL="postgresql://user:password@localhost:5432/sintropia?schema=public"

# Auth
JWT_SECRET="sua_chave_secreta_aqui"

# AI (OpenAI)
OPENAI_API_KEY="sua_api_key_aqui"

# WhatsApp (Evolution API)
WHATSAPP_API_URL="sua_api_url_aqui"
WHATSAPP_API_KEY="sua_api_key_aqui"
